<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>40EF5B30-9BED-4B90-9913-3B2C092B4C6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>540CD443-1A93-42F6-988E-16A9EA76B579</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5299D9B1-D932-42CA-8863-D849808F941A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D58C0E2-1834-41B4-B2C4-547348F1A9FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>540CD443-1A93-42F6-988E-16A9EA76B579</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE9DC0FA-5F05-4301-8BD2-E48EB6942A6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE9DC0FA-5F05-4301-8BD2-E48EB6942A6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6559C2D8-954B-44BC-8649-FCB3816531EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Geir Pettersen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>intellij</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/IntelliJ IDEA.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>8D58C0E2-1834-41B4-B2C4-547348F1A9FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ij</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for projects...</string>
				<key>script</key>
				<string>python list_intellij_projects.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>name</string>
				<key>title</key>
				<string>Open project in IntelliJ</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5299D9B1-D932-42CA-8863-D849808F941A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ijpath</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set IntelliJ project path</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40EF5B30-9BED-4B90-9913-3B2C092B4C6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Enter name of IntelliJ project path folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>540CD443-1A93-42F6-988E-16A9EA76B579</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your IntelliJ project path was saved</string>
				<key>title</key>
				<string>Saved IntelliJ project path</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6559C2D8-954B-44BC-8649-FCB3816531EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python list_intellij_projects.py --set_projects_path $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE9DC0FA-5F05-4301-8BD2-E48EB6942A6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Set your intellij projects directory with the keyword `ijpath`

Use `ij` to activate a search for projects. Choose a project and it will be opened in intellij.</string>
	<key>uidata</key>
	<dict>
		<key>40EF5B30-9BED-4B90-9913-3B2C092B4C6D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>5299D9B1-D932-42CA-8863-D849808F941A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>540CD443-1A93-42F6-988E-16A9EA76B579</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>6559C2D8-954B-44BC-8649-FCB3816531EF</key>
		<dict>
			<key>note</key>
			<string>User feedback when the new project setting has been saved</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>8D58C0E2-1834-41B4-B2C4-547348F1A9FF</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>FE9DC0FA-5F05-4301-8BD2-E48EB6942A6F</key>
		<dict>
			<key>note</key>
			<string>Set projects path</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
